---
layout: default
---

<div id="post">
  <h1> {{ page.entry.title }} </h1>

  <p> {{ page.entry.citeproc }} </p>

  {% if page.entry.abstract == empty or page.entry.abstract == nil %}
  {% else %}
   <br/>
   <h3>Abstract:</h3>
   <p> {{ page.entry.abstract }} </p>
  {% endif %}

  {% if page.entry.pdflink1 == empty or page.entry.pdflink1 == nil %}
  {% else %}
   <br/>
   <h3>Downloads:</h3>
   <a href="{{ page.entry.pdflink1 }}">PDF</a>
  {% endif %}

  <br/>
  <h3>BibTeX:</h3>
  {% highlight bash tabsize=2 %}
  {{ page.entry.bibtex }} 
  {% endhighlight %}
</div>

<br/>
<div class="fb-comments" data-href="{{site.url}}{{page.url}}" data-num-posts="2" data-width="580"></div>

